body { 
    background: #f2f2f2;
    margin: 0px auto;
}

#about { 
    background-color: #e0d6fd;
    display: flex;
}

header { 
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #B8B9E6;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

header .logo { 
    font-family: ;
}

header .logo img { 
    padding: 0px 0px 0px 25px;
}

header .menu { 
    margin: 0 auto;
}

header .menu ul { 
    display: flex;
    list-style: none;
}


header .menu li { 
    padding: 20px;
}


header .menu li a { 
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-transform: uppercase;
}



header .menu a:hover { 
    border-bottom: 2.5px solid #F3CBFE ;
    padding: 10px;
    color: #639;
}


#about .container { 
    width: 1366px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;

    flex-wrap: wrap;
}

#about .container .info { 
    width: 50%;

}

#about .container .info h2 { 
    font-size: 80px;
}

#about .container .info p { 
    font-size: 18px;
}

#about .container .info button { 
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    background: #ffff7a;
}

#about .container .info button a { 
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

#about .container .img {
    width: 50%;
}

#about .container .img img { 
    width: 100%;
}


#about-1 { 
    background-color: #B8B9E6;
    display: flex;
}


#about-1 .container{ 
    width: 980px;
    margin: 0px auto;
    display: flex;
    padding-top: 90px;
    text-align: center;
    width: 100%;
}


#about-1 .container .titulo { 
    width: 100%;
}


#about-1 .container .titulo h1 { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 600;
}


#about-1 .container .titulo p { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding: 0px 0px 48px 0px;
}

#about-1 .container .titulo .p-2 { 
    padding: 90px 0px 50px 0px;
}


#about-1 .container .titulo hr { 
    width: 78%;
}


#about-2 { 
    display: flex;
}


#about-2 .container { 
    display: flex;
    margin: 0 auto;
}


#about-2 .container .card-1 {
    width: 484px;
    height: 593px;
    border: 1px solid #D9D8D7;
}


#about-2 .container .card-1 img { 
    width: 100%;
}


#about-2 .container .card-1 .card-body { 
}


#about-2 .container .card-1 .card-body h1 { 
    background-color: #4EC1EA;
    text-align:  center;
    padding: 15px;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
}

.card-text::marker {
    color: #166FE5;
}


#about-2 .container .card-1 .card-body p { 
}




#about-2 .container .card-2 {
    width: 484px;
    height: 593px;
    border: 1px solid #D9D8D7;
    margin: 0px 0px 0px 19px;
}


#about-2 .container .card-2 img { 
    width: 100%;

}


#about-2 .container .card-2 .card-body { 
}



#about-2 .container .card-2 .card-body h1 { 
    background-color: #4EC1EA;
    text-align: center;
    padding: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    color: #ffffff;
}


#about-2 .container .card-2 .card-body p { 

}


#about-2 .container .card-3 { 
    width: 484px;
    height: 593px;
    border: 1px solid #D9D8D7;
    margin: 0px 0px 0px 19px;
}


#about-2 .container .card-3 img { 
    width: 100%;

}


#about-2 .container .card-3 .card-body { 

}


#about-2 .container .card-3 .card-body h1 { 
    background-color: #4EC1EA;
    text-align: center;
    padding: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    color: #ffffff;
}


#about-2 .container .card-3 .card-body p { 

}



#about-3 { 
    background-color: #eeedeb;
    margin: 0 auto;
}

#about-3 .container {
    display: flex;
    justify-content: space-around;
    padding: 40px 0px 0px 0px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    align-items: center;
}




#about-3 .container .col-1 img { 
    width: 50%;
}


#about-3 .container .col-1 .sociais {
    display: flex;
    margin: 0 auto;
    width: 100%;
}


#about-3 .container .col-1 .sociais .a-1 {
    width: 15%;
    margin: 0px 0px 0px 20px;
}


#about-3 .container .col-1 .sociais .a-2 {
}



#about-3 .container .col-1 .sociais .a-1 i {
    
}


.a-1:hover {
    color: #166FE5;
}


.a-2:hover { 
    color: #1CB7EB;
}

#about-3 .container .col-1 { 
    display: flex;
}


#about-3 .container .col-2 { 
    padding-right: 75px;
    margin-right: 75px;
    text-align: center;
}


#about-3 .container .col-2 img { 
    width: 50%;
    height: 70%;
    cursor: pointer;
    height: 100%;
}

#about-3 .container .col-3 { 

    
}


#about-4 .container {
    text-align: center;
}


/*responsivel para telas menores. */

@media screen and (max-width: 768px){
    #about { 
        background-color: red;
        display: flex;
    }

    
#about .container { 
    width: 1366px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;

    flex-wrap: wrap;
}

#about .container .info { 
    width: 100%;
    margin-bottom: 36px;
    padding: 0 16px;
}

#about .container .info h2 { 
    font-size: 40px;
}

#about .container .info p { 
    font-size: 18px;
}

#about .container .info button { 
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    background: #ffff7a;
}

#about .container .img {
    width: 100%;
}

#about .container .img img { 
    width: 100%;
    border-radius: 10px;
}